/* Estilo para todo el documento */
body{
	font-family:"Tahoma";
}
/* Estilo para el titulo del documento */
p{
	margin:8px;
	text-align:justify;
}

/* Estilos para los articulos */
article{
	margin:10px;
	padding:5px;
	float:left;
	width:30%;
	height:450px;
	background:#CFC;
	text-align:center;
}

/* Estilo para definir ancho y alto de la imagen */
img{
	width:400px;
	height:250px;
}