body{
	font-family:Tahoma;
	color:white;
	text-align:center;
}

section{
	width:;
	background:black;
}

span#titulo{
	font-size:15px;
	margin:5px;
}

span#subtitulo{
	font-size:12px;
	margin:5px;
}

p{
	font-size:12px;
}